.o-info-container{
    width: 100vw;
    background-color: blue;
    font-size: 32px;
}

.o-img-profile{
    width: 10rem;
    
}

.o-portfolio-container{
margin: 2rem 5rem 1rem 0;
padding:  1rem;
background-color: red;

}
.o-portfolio-container .o-brown{
background-color: brown;

}

    
.o-proyect{

    background-color: white;
    padding: 1rem;
    margin: 1rem;

}

